*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #000; /* warna background hitam elegan */
    color: #fff;
}
body.container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100%;         /* full layar */
  box-sizing: border-box;
  color: #fff;
  overflow-x: hidden;  /* cegah geser */
}
/* Header */
header {
    grid-area: header;
    width: 100%;
    height: auto;
    padding: 15px 40px;
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    z-index: 1000;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 30px;
}
.navbar .logo{
    width: 100px;
    height: auto;
}
.navbar .nav-items{
    display: flex;
    align-items: center;
    gap: 40px;

}
.nav-items .menu-btn{
  display: none;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}
.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}
.nav-links li a:hover {
    font-weight: bold;
    color: #5c4e4a; /* warna hover oranye */
}
#sideMenu{
    display: none;
}

/* end Header */

/* Main */
main {
    grid-area: main;
    margin: 75px auto 10px;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
/* hero */
.hero {
    width: 100%;
    height: 485px;
    padding: 50px;
    background: #292524;
    justify-content: center; 
    align-items: center;    
    overflow: hidden;
}

.hero .content {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto ;
    justify-content: center; 
    padding-top: 20px;
}

.hero-text {
  position: relative;
  top: -20px;             
  right: 50px;
  text-align: right;    
  transform: none;     
}

.hero-text h2 {
    font-size: clamp(24px, 5vw, 48px); 
    width: 500px;
    font-weight: bold;
    background: linear-gradient(to right, #555 0%, #fff 50%, #555 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   

.hero-text p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    transform: translateX(40px);
}

.hero .hero-image img {
    position: relative;
    top: 20px;
    max-width: 400px; /* biar ga terlalu besar */
    object-fit: contain;
}
.img-kopi{
    position: relative;
    left: -30px;
    transform: translateY(80px);
    width: 400px;
}

/* blog */
.blog{
    padding: 35px 40px;
}
.blog-title{
    justify-content: center;
    text-align: center;
}
.blog-title h2{
    margin-bottom: 10px;
    font-size: 25px;
    font-family: "Roboto Mono", monospace;
}
.blog-title p{
    max-width: 600px;  
    margin: 0 auto;    
    line-height: 1.6;
    font-size: 16px;
    color: #F1F5F9;
    font-family: Arial, Helvetica, sans-serif;
}
.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 50px;
}

.blog-item {
    background: #292524;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.blog-image {
    width: 100%;
    height: 250px;
}
.blog-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.blog-content{
    text-align: left;
}
.blog-item h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #ffffff;
}

.blog-item p {
    font-size: 0.9rem;
    text-align: justify;
    color: #dfdbdb;
}

/* efek hover */
.blog-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

/* about */
.about{
    padding: 40px 110px 40px;
    margin: 20px 0;
}
.about-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}
.about-image img{
    width: 350px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
.about-content h2{
    color: #F5DEB3; 
    font-size: 30px;
    margin-bottom: 20px;
    transform: translateY(-10px);
    font-family: "Roboto Mono", monospace;
}
.paragraphs {
    max-width: 600px;
    line-height: 2; 
    font-size: 16px;
    text-align: justify;
    color: #F1F5F9; 
    font-family: Arial, Helvetica, sans-serif; 
}
.btn{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #5c4e4a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}
.btn:hover{
    background: #7a665f;
}

/* menu content */
.menu{
    margin: 20px 0;
    padding: 40px 40px;
}
.menu-title{
    justify-content: center;
    text-align: center;
}
.menu-title h2 {
    color: #F5DEB3;            
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
}
.menu-title p{
    max-width: 600px;  
    margin: 0 auto;    
    line-height: 1.6;
    font-size: 16px;
    color: #F1F5F9;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-container{
    padding: 50px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 5px;
}
.menu-item{
    background: rgba(41,37,36,0.5);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 10px;
}
.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}
.menu-image{
    position: relative;
}
.icon-heart{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.3s ease, background 0.3s ease;
}
.menu-image img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}
.menu-item .title{
    font-family: "Inter", sans-serif;
    font-size: 15px;
}
.menu-item p{
    font-size: 12px;
    height: 54px;
    text-align: justify;
    color: #dfdbdb;
    padding: 5px 0px;
    display: -webkit-box;        
    -webkit-line-clamp: 3;       
    -webkit-box-orient: vertical;
    overflow: hidden;          
    text-overflow: ellipsis; 
}
.order-flex{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-flex .price{
    font-size: 18px;
    font-weight: bold;
    color: #F5DEB3; 
}
.order-flex a{
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    background: #5c4e4a;
    color: #ffff;
}
.order-flex a:hover{
    cursor: pointer;
    background: #7a665f;
}
/*contact */
.contact{
    padding: 40px 40px;
}
.contact-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 30px 50px;
}
.contact-info{
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    border: solid 2px #5c4e4a;
}
.contact-info h2{
    color: #F5DEB3; 
    font-family: "Roboto Mono", monospace;
}
.contact-info p{
    padding: 5px;
    text-align: justify;
}
.contact-info ul{
    padding: 0 0;
}
.info-item{
    display: flex;
    align-items: center;
    gap: 20px;
}
.info-item p{
    margin: 5px;
}
.reservation-form form {
    display: grid;
    padding: 20px;
    border-radius: 10px;
    border: solid 2px #5c4e4a;
    grid-template-columns: repeat(3, 1fr);

    gap: 12px;
}
.reservation-form input,
.reservation-form textarea{
    padding: 7px 10px;
    background: none;
    color: #fff;
    border: #7a665f 1px solid;
    border-radius: 5px;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);   /* bikin putih */
    cursor: pointer;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

/* Layout rules */
.span-3 { grid-column: span 3; } /* full width */
.span-2 { grid-column: span 2; } /* dua kolom */
.span-1 { grid-column: span 1; } /* satu kolom (default) */

/* Styling input & textarea */
input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}
.reservation-form button {
    grid-column: span 3; /* button full width */
    padding: 10px;
    background: #5c4e4a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.reservation-form button:hover {
    background: #7a665f;
}
/* footer */
footer{
    grid-area: footer;
    margin-top: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    animation: fadeIn 1.5s ease-in-out forwards;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
    padding: 50px;
    background: #292524;
}
footer img {
    position: relative;
    top: -35px;
    width: 130px;
    height: auto;
}
footer h4{
    color: #F5DEB3; 
    font-family: "Roboto Mono", monospace;
    margin-bottom: 10px;
}
footer p{
    font-size: 15px;
    color: #dfdbdb;
    padding: 5px 0px;
    text-align: justify;
}
.sosmed{
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 15px;
}
.fa-instagram:hover{
    color: #eb2969;
    cursor: pointer;
}   
.fa-facebook-f:hover{
    color: #3b5998;
    cursor: pointer;
}
.fa-twitter:hover{
    color: #1da1f2;
    cursor: pointer;
}
/* phone layout */
/* Tablet (max 1024px) */
@media (max-width: 1024px) {
    header {
        padding: 10px 20px;
    }

    .navbar .nav-links {
        gap: 20px;
    }
    .nav-items .menu-btn{
        display: none;
    }
    #sideMenu{
        display: none;
    }

    .hero {
        flex-direction: column;
        height: auto;
        padding: 30px 20px;
    }

    .hero .content {
        display: flex;
        padding: 20px 10px;
    }

    .hero-text {
        top: 20px;
        right: 0;
        text-align: right;
    }

    .hero-text h2 {
        position: relative;
        width: 100%;
        right: 20px;
        font-size: 30px;
        margin: 5px 0;
    }

    .hero-text p {
        transform: none;
        font-size: 18px;
    }

    .hero .hero-image img{
        position: relative;
        left: 20px;
        top: 50px;
        max-width: 200px; 
        object-fit: contain;
    }

    .img-kopi {
        left: -25px;
        bottom: -5px;
        width: 200px;
    }
    .blog-container {
        grid-template-columns: repeat(2,1fr);
        padding: 20px;
    }

    .about {
        padding: 20px 40px;
    }

    .menu-container {
        padding: 30px;
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-content {
        flex-direction: column;
        margin: 20px;
        gap: 30px;
    }
    .info-item{
        margin: 5px 0;
    }
    .contact-info ul{
        list-style: none;
        padding: 0;
    }
    .reservation-form form {
        grid-template-columns: 1fr;
    }
    .span-3, .span-2, .span-1 {
        grid-column: span 3 !important; 
    }

    footer {
        grid-template-columns: repeat(3, 1fr);
        padding: 30px 20px;

    }
}

@media (max-width: 700px) {
    header {
        padding: 8px 15px;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links {
        display: none !important;
    }
    .nav-items .menu-btn{
        display: block;
        font-size: 30px;
        background: none ;
        border: none;
        color: white;
    }
    #sideMenu {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -16rem; 
        width: 16rem;
        height: 100%;
        background: #292524; 
        color: white;
        padding: 80px 40px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        transition: right 0.5s ease;
        z-index: 60;
    }
    #sideMenu.active {
        right: 0; 
    }
    /* Close Button */
    #sideMenu .close-btn{
        position: absolute;
        display: block;
        background: none;
        border: none;
        color: #dfdbdb;
        font-size: 30px;
        right: 20px;
        top: 20px;
        margin-top: 15px ;
        cursor: pointer;
    }
    #sideMenu li {
        list-style: none;
    }
    #sideMenu a {
        color: white;
        text-decoration: none;
        padding: 8px;
        display: block;  
        transition: background 0.3s;
    }

    #sideMenu a:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
    }

    .hero {
        flex-direction: column;
        height: auto;
        padding: 20px 15px;
        text-align: center;
    }

    .hero .content {
        display: flex;
        padding: 10px;
    }

    .hero-text {
        position: relative;
        top: 0;
        right: 0;
        text-align: center;
        margin-bottom: 15px;
    }

    .hero-text h2 {
        font-size: 22px;
        margin: 5px 0;
    }

    .hero-text p {
        font-size: 14px;
    }

    .hero .hero-image img {
        position: relative;
        left: 0;
        top: 0;
        max-width: 250px;
        margin: 10px auto;
    }

    .img-kopi {
        display: none;
    }

    .blog-container {
        grid-template-columns: 1fr;
        padding: 15px;
        gap: 20px;
    }

    .about {
        padding: 15px;
        text-align: center;
    }

    .menu-container {
        padding: 20px;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }

    .contact-content {
        flex-direction: column;
        margin: 15px;
        gap: 20px;
    }
    .info-item{
        margin: 5px 0;
    }
    .contact-info ul{
        list-style: none;
        padding: 0;
    }
    .reservation-form form {
        grid-template-columns: 1fr;
    }

    .span-3, .span-2, .span-1 {
        grid-column: span 3 !important;
    }

}
